<form class="bg-light">
    <h3>Contact</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe commodi soluta facilis, ex blanditiis ducimus
        vitae tenetur accusantium assumenda.</p>
    <div class="col-md-8 row m-auto">
        <div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Your E-mail</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Your message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">Your message</textarea>
            </div>
        </div>
       <br> </br> 
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>


</form>