<div class=" mt-5 pt-5 pb-5 border-top d-flex justify-content-center mx-auto">
    <div class="">
        <h2 class="d-flex">
            <div>This First Heading </div>
            <div class="ms-2 text-secondary"> Will Catch Your Eye</div>
        </h2>
        <p>Primer parafo Primer parafo Primer parafo Primer parafo Primer parafo Primer parafo<br>
            Primer parafo Primer parafo Primer parafo Primer parafo Primer parafo Primer parafo <br>
            Primer parafo Primer parafo Primer parafo Primer parafo Primer parafo.
        </p>
    </div>
    <div class="col-md-1 row ms-5">
        <img class="rounded-circle" src="./assets/img/1.jpg"/>
    </div>
</div>
