<div class="pt-5 pb-5 border-top d-flex justify-content-center mx-auto">
    <div class="col-md-1 row">
        <img class="rounded-circle" src="./assets/img/2.jpg">

    </div>
    <div class="ms-5">
        <h2 class="d-flex">
            <div>The second heading</div>
            <div class=" ms-2 text-secondary">Is pretty Cool Too</div>
        </h2>
        <p>Segundo parrafo Segundo parrafo Segundo parrafo Segundo parrafo Segundo parrafo<br>
            Segundo parrafo Segundo parrafo Segundo parrafo Segundo parrafo Segundo<br>
            Segundo parrafo Segundo parrafo.
        </p>
    </div>
</div>